
.main {
    margin: 15px;
    width: 200px;
    

    input {
       width: 60px; 
       text-align: center;
       padding: 5px;
       margin-right: 5px;

       &:hover {
         border: orange solid 2px;
       }
    }

    button {
        margin: 5px;
        padding: 5px;
        width: 40px;

        &:hover {
            border: orange solid 2px;
        }
    }

    span {
        height: 100%;
    }
}