@import "../../../styles/settings.scss";

.dealsBox {
  margin-bottom: 30px;
}

.dealsBigBox {
  height: 420px;
  position: relative;
}

.dealsSmallBox {
  height: 210px;
}

.dealsBig {
  flex-basis: 100%;
}

.dealsSmall {
  flex-basis: 50%;
}

.photoBig {
  display: inline;
  width: 100%;
  height: 100%;      
  padding: 5px;
}

.photoSmall {
  width: 100%;
  height: 100%;      
  padding: 5px;
}

img:hover {
  opacity: 0.6;
}

.transBox {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  width: 80%;
  height: 90%;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.transBoxText {
  margin-top: 160px;
  padding: 0 0 10px 10px;
  text-align: left;
  color: $color-light-primary;
  text-transform: uppercase;
  font-size: 30px;

  & h3 {
    font-size: 50px;
    letter-spacing: 1.5px;
    font-weight: 600;
  }
  
  .percent {
    border: 2px solid $color-light-primary;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 600;

  }
}