@import "../../../styles/settings.scss";

.root {
  background-color: $color-light-primary;
  border: 1px solid $color-light-secondary;
  margin: 2rem;

  .dealsRow {
    justify-content: left;

    .deals {
      flex-basis: 25%;
      padding: 5px;
    }
  }

  .photo {
    display: inline;
    width: 200px;
    height: 160px;
  }
}