@import "../../../styles/settings.scss";

.root {
  margin: $base-padding auto;
  padding: $base-padding;
  height: 653px;
  h3 span{
    color: $orange;
  }

  .tabComponent {
    padding-left: 0;
    border: 1px solid $global-border-color;
  }
}