@import "../../../styles/settings.scss";

.root {
  margin: $base-padding auto;
  padding: $base-padding;
  height: 653px;
  border: 1px solid $global-border-color;
  h3 span{
    color: $orange;
  }
  .productGallery{
    border: 1px solid $global-border-color;
  }
  .productDescription{
    border: 1px solid $global-border-color;
  }
}
