@import "../../../styles/settings.scss";
  
.marksRow{
  justify-content: left;
  margin-bottom: 20px;
  
  .mark {
    flex-basis: 10%;
    max-width: 25%;
    padding: 5px;
    text-align: center;
  }
}

.photo {
  display: inline;
  width: 80px;
  height: 60px;
}
